<div class="container mt-4">
    <div>
        <h2>ajouter un client :</h2>
    </div>
<form [formGroup]="clientForm" (ngSubmit)="addclient()">
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
        <label>ID client</label>
        <input formControlName="idclient" class="form-control">
        <div *ngIf="clientForm.get('idclient')?.invalid && clientForm.get('idclient')?.touched" class="text-danger">
            ID client est obligatoire.
        </div>
        <div *ngIf="idError" class="text-danger">
            L'ID client existe déjà. Veuillez en choisir un autre.
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Nom client</label>
        <input formControlName="nomclient" class="form-control" minlength="3">
        <div *ngIf="clientForm.get('nomclient')?.hasError('required') && clientForm.get('nomclient')?.touched" class="text-danger">
            Le nom est obligatoire.
        </div>
        <div *ngIf="clientForm.get('nomclient')?.hasError('hasNumber') && clientForm.get('nomclient')?.touched" class="text-danger">
            Le nom ne doit pas contenir de chiffres.
        </div>
        <div *ngIf="clientForm.get('nomclient')?.hasError('minlength') && clientForm.get('nomclient')?.touched" class="text-danger">
            Le nom doit contenir au moins 3 caractères.
        </div>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Email du client</label>
        <input formControlName="emailclient" class="form-control">
        <div *ngIf="clientForm.get('emailclient')?.hasError('required') && clientForm.get('emailclient')?.touched" class="text-danger">
            L'email est obligatoire.
        </div>
        <div *ngIf="clientForm.get('emailclient')?.hasError('email') && clientForm.get('emailclient')?.touched" class="text-danger">
            Veuillez entrer un email valide.
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Date Inscription</label>
        <input type="date" formControlName="dateinscription" class="form-control">
        <div *ngIf="clientForm.get('dateinscription')?.invalid && clientForm.get('dateinscription')?.touched" class="text-danger">
            La date d'inscription est obligatoire.
        </div>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Adresse client</label>
        <input formControlName="adresseclient" class="form-control">
        <div *ngIf="clientForm.get('adresseclient')?.invalid && clientForm.get('adresseclient')?.touched" class="text-danger">
            L'adresse est obligatoire.
        </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Type</label>
        <select formControlName="idtype" class="form-control" [(ngModel)]="newidtype">
            <option *ngFor="let type of types" [value]="type.idtype">{{type.nomtype}}</option>
        </select>
        <div *ngIf="clientForm.get('idtype')?.invalid && clientForm.get('idtype')?.touched" class="text-danger">
            Le type de client est obligatoire.
        </div>
    </div>

    <div class="mt-2">
        <button type="submit" class="btn btn-success" >Ajouter</button>
    </div>
</form>
</div>

